* {
  margin:0;   
  padding:0;  
  box-sizing: border-box;  
}
#img2 {
    display:block; 
    margin:50px auto; 
    
}
#url {
    display:block;
    margin:auto;
}

#search {
    margin:auto;
    margin-top: 50px;
    display:block;
}