* { /* 스타일 초기화 */
  margin:0;   /* 마진 리셋 */
  padding:0;   /* 패딩 리셋 */
  box-sizing: border-box;   /* 박스 영역은 테두리까지 */ 
}
a {
  text-decoration:none;  /* 텍스트 링크 밑줄 제거 */ 
}
ul {
  list-style: none; /* 목록 앞에 생성되는 점 제거 */
}

#container {
  margin:0 auto;  /* 화면 중앙에 배치 */
  width:100%;    /* 너비 */    
  background-color: #fff;
}

header{
  display: block;
  height: 100px;
  width: 100%;
  background-color: darkgray;
}
h1{
  color: white; 
  float: left;
  line-height: 100px;
}
#logoimg{
  float: left;
  display: block;
  height: 75px;
  width: 75px;
  margin-top: 12.5px;
  margin-left: 170px;
  margin-right: 50px;
}
#urlsummit{
  float: right;
  margin-top: 40px;
  margin-right: 170px;
}

#logo{ 
  float:left;   /* 왼쪽으로 플로팅 */ 
  width:250px;   /*  너비 */ 
  height:100px;   /* 높이 */
  line-height:100px;  /* 세로로 중간에 맞춤 - 줄간격을 높이 값과 같게 */
  padding-left:20px;  /* 왼쪽에 여백 */
}

#search { /* 조회하기 버튼 크기 및 위치 조정 */
  float: right; /* 오른쪽으로 플로팅 */
  margin: 30px;
  width: 100px;
  height: 50px;
}
#url {  /* url 입력 텍스트 크기 조정 */
  margin: 50px;
}

/* 내비게이션 */
#navbar{
  width: 100%;
  height: fit-content;
}
#thumbnail{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10%;
}
nav{ 
  padding-top: 40px;
}

#level > li{
  float:left; /* 왼쪽으로 플로팅 */   
  margin-left:200px;
}

/* 댓글이 나타날 영역 */
#ex{
  margin-left: 10%;
  width: 1050px;
  height: 700px;
}

#rg{ /* 드롭박스의 라벨의 위치 설정*/
  float: left;
  margin-left: 500px;
}
#range{ /* 드롭박스 위치 설정 */
  float:right; /* 오른쪽으로 플로팅 */
  margin-right: 150px;
}

#player{
  width: 400px;
  height: 300px;
  margin-left: 16%;
}

#yt{
  width: 100%;
  height: fit-content;  
}

#title{
  float: right;
  margin-right: 16%;
  margin-top: 60px;
}